<div class="container">
  <div class="row">
    <div class="col-12 btnParent">
      <div class="col-3 btnClass">
        <button class="btn btn-primary" (click)="onIncrement()">
          Increment
        </button>
      </div>
      <div class="col-3 btnClass">
        <button class="btn btn-secondary" (click)="onDecrement()">
          Decrement
        </button>
      </div>
      <div class="col-3 btnClass">
        <button class="btn btn-danger" (click)="onReset()">Rest</button>
      </div>
    </div>
  </div>
</div>
